/*****************************
Blog
*****************************/
/* Blog Post */
.blog-post {
	margin-bottom: 50px;

	.blog-post-content {
		padding-top: 25px;
		background: $white;
		position: relative;

		a.btn-link {
			color: $primary;

			&:hover {
				color: $black;
			}

			i {
				margin-left: 5px;
			}

		}

		.blog-post-title a:hover {
			color: $primary;
		}

		.blog-post-time {
			margin-top: 20px;
			border-top: 1px solid #eee;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-top: 15px;

			a {
				font-size: 16px;
				color: $gray-3;

				&:hover {
					color: $primary;
				}

			}

			i {
				color: $primary;
				margin-right: 10px;
			}

		}

	}

}

.blog-post {
	.blog-post-image {
		overflow: hidden;
		img {
			transition: all 0.4s ease;
		}
	}
	&:hover {
		.blog-post-image {
			img {
				transform: scale(1.1);
			}
		}
	}
}

/*Blog Detail*/
.blog-detail {
	hr {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.blog-post-description{
		ul{
			padding-left: 15px;
		}
	}

	.blog-post-social {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;

		span {
			padding-right: 15px;
		}

		ul {
			margin-bottom: 0;

			li {
				display: inline-block;
				float: left;
				padding: 0 6px;

				a {
					color: $gray-8;

					&:hover {
						color: $primary;
					}

				}

			}

		}

	}

	.blog-post-navigation {
		.post-navigation {
			.nav-link {
				position: relative;
				display: flex;
				justify-content: space-between;
				padding: 0;

				a {
					i {
						position: absolute;
						font-size: 24px;
						color: $gray-8;
						top: 50%;
						transform: translateY(-50%);
					}

					span {
						display: block;
						color: $gray-8;
						transition: all 0.5s ease-in-out;
					}

					.nav-title {
						font-size: 18px;
					}

				}

				.nav-previous {
					a {
						position: relative;
						display: block;
						padding-left: 90px;
						padding-top: 11px;
						padding-bottom: 11px;

						i {
							left: 25px;
						}

						&:before {
							position: absolute;
							content: "";
							top: 50%;
							transform: translateY(-50%);
							left: 0;
							border:1px solid rgba(24, 26, 37, 0.1);
							width: 60px;
							height: 100%;
							background-color: $white;
							transition: all 0.5s ease-in-out;
						}

						&:hover {
							i {
								color: $white;
							}

							span {
								color: $primary;
							}

							&:before {
								background-color: $primary;
							}

						}

					}

				}

				.nav-next {
					text-align: right;

					a {
						position: relative;
						display: block;
						padding-right: 90px;
						padding-top: 11px;
						padding-bottom: 11px;

						i {
							right: 25px;
						}

						&:before {
							position: absolute;
							content: "";
							top: 50%;
							transform: translateY(-50%);
							right: 0;
							width: 60px;
							height: 100%;
							border:1px solid rgba(24, 26, 37, 0.1);
							transition: all 0.5s ease-in-out;
						}

						&:hover {
							i {
								color: $white;
							}

							span {
								color: $primary;
							}

							&:before {
								background-color: $primary;
							}

						}

					}

				}

			}

		}

	}

	.comments-01 {
		display: flex;

		.comment-author {
			width: 90px;

			img {
				width: 100%;
			}

		}

		.comment-content {
			border: 1px solid $border-color;
			padding: 25px;
			margin-left: 20px;
			margin-bottom: 20px;
			width: 100%;

			.reviews {
				display: flex;
				margin-bottom: 10px;
				align-items: center;

				p {
					margin-bottom: 0;
				}

				.port-social {
					margin-left: auto;
					color: $white;
					background: $primary;
					padding: 5px 15px;
					display: block;
					&:hover{
						background:$black;
					}
				}

			}

		}

	}

	.comments-02 {
		display: flex;
		padding-left: 100px;

		.comment-author {
			width: 90px;

			img {
				width: 100%;
			}

		}

		.comment-content {
			border: 1px solid $border-color;
			padding: 15px;
			margin-left: 20px;
			margin-bottom: 20px;
			width: 100%;

			.reviews {
				display: flex;
				margin-bottom: 10px;
				align-items: center;

				p {
					margin-bottom: 0;
				}

				.port-social {
					margin-left: auto;
					color: $white;
					background: $primary;
					padding: 5px 15px;
					display: block;
					&:hover{
						background:$black;
					}
				}

			}

		}

	}

}

/*****************************
Blog Style 01
*****************************/
.blog-style-01 {
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	.blog-img {
		transition: transform 9s cubic-bezier(.1, .2, .7, 1);

		img {
			transition: all 0.3s ease-in-out;
		}

		.blog-badge {
			display: inline-block;
			padding: 5px 18px;
			position: absolute;
			left: 30px;
			z-index: 9;
			top: 30px;
			background-color: $primary;
			color: $white;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 0.5px;
		}

		.blog-info {
			position: absolute;
			bottom: -50px;
			padding: 30px 30px 0px 30px;
			z-index: 9;
			transition: all 0.3s ease-in-out;

			p {
				color: $white;
			}

			h3 {
				color: $white;
				margin-bottom: 0;
			}

			p.blog-content {
				opacity: 0;
				transition: all 0.5s ease-in-out;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				margin-bottom: 10px;
			}

		}

		&:after {
			z-index: 1;
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			background: rgba(0, 0, 0, 0.4);
			top: auto;
			height: 100%;
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}

		&:before {
			z-index: 1;
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			background: rgba(0, 0, 0, 0.4);
			top: auto;
			height: 100%;
			transition: all 0.3s ease-in-out;
		}

	}

	&:hover {
		transform: translateY(-10px);

		.blog-img {
			img {
				transform: scale(1.2);
				transition: transform 9s cubic-bezier(.1, .2, .7, 1);
			}

			.blog-info {
				bottom: 20px;

				p.blog-content {
					opacity: 1;
					transform: translateY(0);
				}

			}

		}

	}

}

/* Blog sidebar */
.blog-sidebar {
	.widget {
		background-color: $white;
		border:1px solid rgba(24, 26, 37, 0.1);
		padding: 40px 40px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		.search {
			position: relative;

			.form-control {
				padding-right: 50px;
			}

			i {
				position: absolute;
				right: -1px;
				top: 0;
				background: inherit;
				color: $black;
				padding: 17px 16px;
				cursor: pointer;
				color: $primary;
			}

		}

		.recent-post-img {
			flex: 0 0 90px;
		}

		.recent-post-info {
			small{
				margin-top:-7px;
			}
			.title {
				color: $secondary;
				font-family: $font-hedding;
				font-weight: normal;
				margin-top: 0px;
				margin-bottom: 0;
				font-weight: 500;

				&:hover {
					transition: all 0.3s ease-in-out;
					color: $primary;
				}

			}

		}

		.input-with-btn {
			position: relative;

			.btn {
				position: absolute;
				top: 0;
				right: 0;
				padding: 14px 20px 13px;
				height: 53px;
			}

		}

		.widget-categories {
			.list-style {
				margin-top: 10px;

				li {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						color: $secondary;
						padding: 5px 0 15px 0;
					    border-bottom:1px solid rgba(24, 26, 37, 0.1);
					    line-height: 20px;
					    display: block;
					}

					&:hover {
						color: $primary;
					}

					&:last-child {
			            a {
			              border-bottom: inherit;
			              padding-bottom:0px;
			            }

			        }

				}

			}

		}

	}

	.tagcloud {
		li {
			display: inline-block;

			a {
				border: 1px solid $border-color;
				color: $gray-8;
				padding: 8px 16px;
				line-height: 40px;
				font-size: 14px;
				margin-right: 2px;

				&:hover {
					background: $primary;
		            border: 1px solid $primary;
		            color: $white;					
		        }
			}
		}

	}

	.widget-title {
		margin-bottom: 15px;
	}
}

/* blog-author */
.blog-author .author {
	display: flex;
	text-align: left;
	align-items: center;
	color: $white;
	padding: 30px;
	margin-left: 0px;

	.author-image {
		flex: 0 150px;
		margin-left: 0px;
	}

	.author-detail {
		position: relative;
		padding: 0 0 0 30px;
		flex: 0 70%;
		align-self: center;

		.author-title a {
			color: $white;
		}

		.author-label {
			color: $white;
		}

		.author-social {
			margin-top: 20px;

			ul {
				display: inline-block;
				margin-bottom: 0;
				padding-left: 0;

				li {
					display: inline-block;
					list-style-type: none;
					float: left;

					a {
						color: $white;
						margin-right: 20px;
					}

				}

			}

		}

		.author-content {
			margin-top: 15px;
		}

	}

}

.blockquote-02 {
	padding: 30px 0px;
	text-align: left;
	position: relative;
	margin: 0 30px;

	.blockquote-info {
		padding: 40px 40px;
		border-left: 7px solid rgba($primary, 0.7) !important;
		position: relative;
		background-color: $white;
		border:1px solid rgba(24, 26, 37, 0.1);

		.blockquote-quote {
			padding-left: 0;

			i {
				position: inherit;
				top: 0;
				font-size: 60px;
				line-height: 60px;
				color: rgba($primary, 0.5);
			}

		}

		.blockquote-content {
			font-size: 18px;
			font-style: italic;
			position: relative;
			margin-bottom: 0px;
		}

		.blockquote-author {
			margin-bottom: 0;
			margin-top: 20px;

			.blockquote-name {
				h6 {
					font-weight: 500;
					margin-right: 10px;
					display: inline-block;
					color: $primary;
				}

				span {
					font-size: 16px;
					font-weight: 400;
					color: $gray-2;
				}

			}

		}

	}

}

.blog-sidebar {
	.widget {
		.form-inline {
			input.form-control {
				padding: 10px 125px 10px 20px;
				height: 53px;
			}

		}

		.input-with-btn {
			.btn {
				i {
					margin-right: 7px;
				}

			}

		}

	}

}

.blog-bg-pattern {
	position: absolute;
	top: 0;
}



@media (max-width:991px) {
	.blog-style-01{
		.blog-img{
			.blog-info h3 {
			    font-size: 22px;
			    line-height: 26px;
			}
		}
	}
}

@media (max-width:575px) {
	.blog-sidebar{
		.widget{
			padding:30px;
		}
	}

	.blog-detail{

		.comments-01{
			flex-direction: column;

			.comment-content{
				margin-left: 0px;
				margin-top: 20px;
			}
		}
		.comments-02{
			padding-left:0px;
			flex-direction: column;

			.comment-content{
				margin-left: 0px;
				margin-top: 20px;
			}

		}
		.blog-post-navigation{
			.post-navigation{ 
				.nav-link{
					display: block;
				}
			}
		}
	}

	.blog-author{
		.author{
			display: block;			
			.author-detail{
				padding: 20px 0 0 0px;
			}
		}
	}

}